<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>

<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>
<script th:src="@{/js/jquery-confirm.js}"></script>

<script type="text/javascript"  src="/js/accion_delete_ajax.js" th:src="@{/js/accion_delete_ajax.js}"></script>

<body>
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-md-12">
						<center align="center">
							<h1 class="page-tittle">Valor Accion</h1>
						</center>
						<br />
						<div class="design-1 container color2" align="center"
							style="width: 90%">
							<div class="panel-heading color"></div>
							<div class="table-content">
								<table id="tablaaccion" class="display compact">
									<thead>
										<tr>
											<th>Serie A</th>
											<th>Serie B</th>
											<th>Editar</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="acciones : ${acciones}">
											<td th:text="${acciones.valorAModel}"></td>
											<td th:text="${acciones.valorBModel}"></td>
											<td><a href="#"
												th:href="@{/accion/addaccionesform?id=__${acciones.idAccionModel}__}">
													<button type="button" class="btn btn-warning ">
														<span class="glyphicon glyphicon-pencil"
															aria-hidden="true"></span>
													</button>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>							
							
						</div>
						<!-- <div class="btn-design-1" align="center" style="width: 77%">
							<a href="#" th:href="@{/accion/addaccionesform?id=0}">
								<button class="btn btn-lg btn-primary btn-block color"
									type="submit">
									Agregar Valores a acciones <span
										class="glyphicon glyphicon-user" aria-hidden="true"></span>
								</button>
							</a>
						</div> -->
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>