	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>
<script th:src="@{/js/jquery-confirm.js}"></script>

<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script type="text/javascript"  src="/js/reportes_ajax.js" th:src="@{/js/reportes_ajax.js}"></script>
<script type="text/javascript"  src="/js/accionista_delete_ajax.js" th:src="@{/js/accionista_delete_ajax.js}"></script>


<body>
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
          						<center align="center">
									<h1 class="page-tittle">Accionistas</h1>
								</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%">
					<div class="panel-heading color">
						<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/Pdf.png}" 
							data-toggle="modal" data-target="#filtroAccionistaPDF"/>
						<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/excel.png}" 
							data-toggle="modal" data-target="#filtroAccionistaEXCEL"/>
					</div>
					<div class="table-content">
						<table id="tablaaccionistas" class="display compact">
							<thead>
								<tr>
									<th>Rut</th>	
									<th>Nombre</th>
									<th>Acciones serie A</th>
									<th>Acciones serie B</th>
									<th>% de Participacion</th>
									<th>Direccion</th>
									<th>Ciudad</th>
									<th>Comuna</th>
									<th>Estado</th>
									<th>Editar</th>
									<th>Desactivar</th>
									<th>Activar</th>
								</tr>
							</thead>

							<tbody>														
								<tr th:each="accionista, iteration : ${accionistas}">									
									<td th:text="${accionista.rutModel}"></td>
									<td th:text="${accionista.nombreModel} + ' '+${accionista.apellido_paternoModel} + ' '+${accionista.apellido_maternoModel}"></td>
									<td th:text="${accionista.cantidad_acciones_serie_aModel}"></td>
									<td th:text="${accionista.cantidad_acciones_serie_bModel}"></td>
									<td th:text="${accionista.porcentaje_participacionModel}"></td>
									<td th:text="${accionista.direccionModel}"></td>
									<td th:text="${accionista.ciudadModel}"></td>
									<td th:text="${accionista.comunaModel}"></td>
									<td th:switch="${accionista.estadoModel}">
										<span th:id="'estado' + ${accionista.rutModel}" th:case="'0'">Eliminado</span>
										<span th:id="'estado' + ${accionista.rutModel}"  th:case="'1'">Activo</span>
									</td>
									
									<td><a th:if="${accionista.estadoModel == 0}"> <a href="#"
											th:href="@{/accionistas/addaccionistasform?rut=__${accionista.rutModel}__} ">
												<button th:id="'edit'+${accionista.rutModel}" type="button" class="btn btn-warning " disabled="disabled">
													<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
												</button></a>
										</a>
										<a th:if="${accionista.estadoModel == 1}"> <a href="#"
											th:href="@{/accionistas/addaccionistasform?rut=__${accionista.rutModel}__}">
												<button th:id="'edit'+${accionista.rutModel}" type="button" class="btn btn-warning " enabled="enabled">
													<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
												</button></a>
										</a> 
									</td>
									<td><a th:if="${accionista.estadoModel == 0}">
											<button th:id="'desactivar'+${accionista.rutModel}" type="button" class="btn btn-danger eliminar" disabled="disabled">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</button>
										</a>
										<a th:if="${accionista.estadoModel == 1}">
											<button th:id="'desactivar'+${accionista.rutModel}" type="button" class="btn btn-danger eliminar" enabled="enabled">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</button>
										</a>
									</td>
									<td><a th:if="${accionista.estadoModel == 1}">
											<button th:id="'activar'+${accionista.rutModel}" type="button" class="btn btn-success activar" disabled="disabled">
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</button>
										</a>
										<a th:if="${accionista.estadoModel == 0}">
											<button th:id="'activar'+${accionista.rutModel}" type="button" class="btn btn-success activar" enabled="enabled">
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</button>
										</a>
									</td>
									
								</tr>
								
							</tbody>
						</table>
					</div>										  
				</div>
				    <div class="btn-design-1" align="center" style="width:77%">
					<a href="#"
						th:href="@{/accionistas/addaccionistasform?rut=agregarAccionista}">
						<button class="btn btn-lg btn-primary btn-block color"
							type="submit">
							Agregar Accionista
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>							
						</button>
					</a>
				</div>        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>	  
    
    <!-- Modal POPUP REPORTES PDF-->
	<div class="modal fade" id="filtroAccionistaPDF" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog"  style="width: 30%;">
			<div class="modal-content">
				<div class="modal-header" style="padding: 0px;">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" style="color: #fff">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="design-1 container color2" align="center"
						style="width: 100% !important; margin: 0px">
						<div class="panel-heading color">
							<h5 class="modal-title" id="exampleModalLabel" style="color: #fff;">Tipo Reporte Acionista PDF</h5>
						</div>
						<td>Tipo Reporte PDF</td>
						<td>
							<select id="filtro" class="form-control" required="required">
								<option class="form-control" value="">Seleccione un Tipo de Reporte.</option>
								<option class="form-control" value="TodosAccionista">Todos los Accionistas</option>
								<option class="form-control" value="TodosAccionistaActivos">Todos los Accionistas Activos</option>
								<option class="form-control" value="10AccionistasTipoA">10 Mayores Accionistas en Acciones Tipo A</option>
								<option class="form-control" value="10AccionistasTipoB">10 Mayores Accionistas en Acciones Tipo B</option>
							</select>
						</td>
						<div class="btn-design-1" align="center" style="width:77%">
							<button class="btn btn-lg btn-primary btn-block color" onclick="ReportePFDAccionista();">
								Gererar reporte PDF						
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<!-- Modal POPUP REPORTES EXCEL -->
	<div class="modal fade" id="filtroAccionistaEXCEL" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog"  style="width: 30%;">
			<div class="modal-content">
				<div class="modal-header" style="padding: 0px;">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" style="color: #fff">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="design-1 container color2" align="center"
						style="width: 100% !important; margin: 0px">
						<div class="panel-heading color">
							<h5 class="modal-title" id="exampleModalLabel" style="color: #fff;">Tipo Reporte Acionista EXCEL</h5>
						</div>
						<td>Tipo Reporte EXCEL</td>
						<td>
							<select id="filtroExcel" class="form-control" required="required">
								<option class="form-control" value="">Seleccione un Tipo de Reporte.</option>
								<option class="form-control" value="TodosAccionista">Todos los Accionistas</option>
								<option class="form-control" value="TodosAccionistaActivos">Todos los Accionistas Activos</option>
								<option class="form-control" value="10AccionistasTipoA">10 Mayores Accionistas en Acciones Tipo A</option>
								<option class="form-control" value="10AccionistasTipoB">10 Mayores Accionistas en Acciones Tipo B</option>
							</select>
						</td>
						<div class="btn-design-1" align="center" style="width:77%">
							<button class="btn btn-lg btn-primary btn-block color" onclick="ReporteExcelAccionista();">
								Gererar reporte EXCEL						
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>