<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
 <script type="text/javascript"  src="/js/acta_util_ajax.js" th:src="@{/js/acta_util_ajax.js}"></script>
<body>

	<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
          					<center align="center">
					<h1 class="page-tittle">Generar Acta </h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%;">
					<div class="panel-heading color"></div>					
					<div class="table-content">
					<form id="formGenerarActa" th:action="@{/acta/addActa}" th:object="${actaModel}" method="POST" enctype="multipart/form-data" align-text="center">					
							<table>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr height="40px;">
									<td>Id Junta Accionista: </td>
									<td>
									<select class="form-control" onchange="actaBuscaDatos(this);" id="idJunta" name="idJunta">
										<option th:value="0"  >Seleccione un Junta</option>
										<option class="form-control" th:each="junta : ${juntaAccionista}"												
											th:value="${junta.idJuntaAccionistaModel}" th:text="${junta.idJuntaAccionistaModel}"></option>
									</select>
									</td>
								</tr>
								<tr height="40px;">
									<td>Fecha Inicio: </td>
									<td><input type="date" id="fechai" class="form-control"
										 disabled="disabled" name="fechai" style="color: #000"></input></td>
								</tr>
								<tr height="40px;">
									<td>Fecha Termino: </td>
									<td><input type="date" id="fechat" class="form-control"
										 disabled="disabled" style="color: #000"  name="fechat" ></input></td>
								</tr>		
								
								<tr height="40px;">
									<td>Cantidad Acciones Empresa Tipo A: </td>
									<td><input id="empresaSerieA" type="text" class="form-control"
										 disabled="disabled" style="color: #000" name="empresaSerieA" ></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad Acciones Empresa Tipo B: </td>
									<td><input id="empresaSerieB" type="text" class="form-control"
										 disabled="disabled" style="color: #000" name="empresaSerieB" ></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad Total Acciones Accionistas Tipo A: </td>
									<td><input id="contadorA" type="text" class="form-control"
										 disabled="disabled" style="color: #000" name="contadorA" ></input></td>
								</tr>	
								<tr height="40px;">
									<td>Cantidad Total Acciones Accionistas Tipo B: </td>
									<td><input id="contadorB" type="text" class="form-control"
										 disabled="disabled" style="color: #000"  name="contadorB"></input></td>
								</tr>	
								<tr height="40px;">
									<td>Tipo Acta: </td>
									<td>
									<select class="form-control" id="idTipo" name="idTipo" th:field="*{tipoActa.idTipoActa}"  >
										<option th:value="0">Seleccione un Tipo de Acta</option>
										<option class="form-control" th:each="tipo : ${tiposActa}"												
											th:value="${tipo.idTipoActa}" th:text="${tipo.descripcion}"></option>
									</select>
									<span th:if="${error}" th:text="${error}"></span>
									</td>
								</tr>
								<tr height="40px;">
								<td>Seleccione un Archivo: </td>
								<td>
									<div class="input-group" style="width: 100%;">
										<label class="input-group-btn"> 
											<span class="btn btn-default">Seleccione un archivo&hellip; 
												<input type="file" id="file" name="file" style="display: none"/>
											</span>
										</label> 
										<input type="text" class="form-control" name="file1" id="file1" />
									</div>
								</td>
								</tr>
								<tr height="40px;">
									<td>Detalles de acta: </td>
									<td><textarea id="detalle" th:field="*{detalleActa}" th:value="${detalleActa}" name="detalle" rows = "20" cols = "50" ></textarea>
									</td>
								</tr>
								
								<tr class="form-buttons" height="40px;">
									<td colspan="2" align="right"><a href="#"
										th:href="@{/acta/listAllActaAdmin}">
											<button class="btn btn-default" type="button"
												style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												Cancelar
											</button>
									</a>
										<button id="submit"  class="btn btn-primary color" type="submit"
											style="width:27%;">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											Guardar Acta
										</button></td>
								</tr>
							</tbody>
						</table>
					</form>
					
					</div>
				</div>              
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

<script type="text/javascript">

	$(function() {

		$(document).on('change',':file',function() {
			var input = $(this), 
			numFiles = input.get(0).files ? input.get(0).files.length : 1, 
			label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			input.trigger('fileselect', [ numFiles, label ]);
		});
		$(document).ready(function() {
			$(':file').on('fileselect',function(event, numFiles, label) {
			var input = $(this).parents('.input-group').find(':text'), 
			log = numFiles > 1 ? numFiles + ' files selected': label;
			if (input.length) {
				input.val(log);
			} else {
				if (log)
					alert(log);
			}
			});
		   
		});
	});
</script>

</body>
</html>

