<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
          							<center align="center">
					<h1 class="page-tittle">Fomulario para valores de acciones</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%;">
					<div class="panel-heading color"></div>
					<div class="table-content">
					<form align-text="center" action="#" 
						th:action="@{/accion/addaccion}" 
						th:object="${accionModel}" method="post">
						<input type="hidden" th:field="*{idAccionModel}"></input>
						<table>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<input type="hidden" class="form-control" th:field="*{idAccionModel}"></input>
							<!-- <input type="hidden" class="form-control" th:field="*{estadoModel}"></input>-->
								<tr height="40px;">
									<td>Valor accion serie a:</td>
									<td><input type="text" class="form-control"
										th:field="*{valorAModel}" th:value="${valorAModel}" 
										placeholder="Valor acciones segun Bolsa de Comercio" required="required" style="width: 324px;" ></input></td>
								</tr>
								<tr height="40px;">
									<td>Valor accion serie b:</td>
									<td><input type="text" class="form-control"
										th:field="*{valorBModel}" th:value="${valorBModel}"
										placeholder="Valor acciones segun Bolsa de Comercio" required="required" style="width: 324px;"></input></td>
								</tr>							
								
								<tr class="form-buttons" height="40px;">
									<td colspan="2" align="right"><a href="#"
										th:href="@{/accion/cancel}">
											<button class="btn btn-default" type="button"
												style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												Cancelar
											</button>
									</a>
										<button class="btn btn-primary color" type="submit"
											style="width:27%;">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											Aceptar
										</button></td>
										<br/>
								</tr>
							</tbody>
						</table>
					</form>
					</div>
				</div>              
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>