<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<script type="text/javascript" src="#" th:src="@{/js/alertas.js}"></script>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		if($('#idHerederoModel').val() != 0){
			$('#rutModel').prop('disabled', true); $('#rutModel').css('color', '#000');
			$(document.getElementById("empresaModel.idEmpresaModel")).prop('disabled', true); $(document.getElementById("empresaModel.idEmpresaModel")).css('color', '#000');
		}
	});
</script>
<body>
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
     							<center align="center">
					<h1 class="page-tittle">Fomulario para agregar heredero</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%;">
					<div class="panel-heading color"></div>
					<div class="table-content">
					<form align-text="center" action="#" 
						th:action="@{/heredero/addheredero}" th:object="${herederoModel}" method="post">
						<table>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<input type="hidden" class="form-control" th:field="*{idHerederoModel}"></input>
							<input type="hidden" class="form-control" th:field="*{estadoModel}"></input>
							<tr height="40px;">
									<td>Rut:</td>
									<td><input type="text" class="form-control"
										th:field="*{rutModel}" th:value="${rutModel}" placeholder="ej: 1111111-1"></input></td>
								</tr>
								<tr height="40px;">
									<td>Razon social:</td>
									<td>
										<select class="form-control" th:field="*{empresaModel.idEmpresaModel}">
											<option class="form-control" th:each="empresa : ${empresas}"												
												th:value="${empresa.idEmpresaModel}" th:text="${empresa.razonSocialModel}"></option>
										</select>
									</td>
								</tr>
								<tr height="40px;">
									<td>nombre:</td>
									<td><input type="text" class="form-control"
										th:field="*{nombreModel}" th:value="${nombreModel}" placeholder="ej: Juan Pedro"></input></td>
								</tr>
								
									<tr height="40px;">
									<td>Apellido Paterno:</td>
									<td><input type="text" class="form-control"
										th:field="*{apellido_paternoModel}" th:value="${apellido_paternoModel}" placeholder="ej: Rojas"></input></td>
								</tr>	
									<tr height="40px;">
									<td>Apellido Materno:</td>
									<td><input type="text" class="form-control"
										th:field="*{apellido_maternoModel}" th:value="${apellido_maternoModel}" placeholder="ej: Rojas"></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad acciones serie a:</td>
									<td><input type="number" class="form-control"
										th:field="*{cantidad_acciones_serie_aModel}" th:value="${cantidad_acciones_serie_aModel}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Cantidad acciones serie b:</td>
									<td><input type="number" class="form-control"
										th:field="*{cantidad_acciones_serie_bModel}" th:value="${cantidad_acciones_serie_bModel}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Fecha de nacimiento:</td>
									<td><input type="date" class="form-control"
										th:field="*{fecha_nacimientoModel}" th:value="${fecha_nacimientoModel}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Es Valido:</td>
									<td><input type="text" class="form-control"
										th:field="*{es_validoModel}" th:value="${es_validoModel}" placeholder="Poner Si o NO"></input></td>
								</tr>
								<tr height="40px;">
									<td>Correo electronico:</td>
									<td><input type="email" class="form-control"
										th:field="*{emailModel}" th:value="${emailModel}" placeholder="ej: ejemplo@gmail.com"></input></td>
								</tr>
								<tr height="40px;">
									<td>Direccion:</td>
									<td><input type="text" class="form-control"
										th:field="*{direccionModel}" th:value="${direccionModel}" placeholder="ej: Bombero Ossa #1010"></input></td>
								</tr>
									<tr height="40px;">
									<td>Fono:</td>
									<td><input type="tel" class="form-control"
										th:field="*{fonoModel}" th:value="${fonoModel}" placeholder="ej: 123456789"></input></td>
								</tr>
								<tr height="40px;">
									<td>Ciudad:</td>
									<td><input type="text" class="form-control"
										th:field="*{ciudadModel}" th:value="${ciudadModel}" placeholder="ej: Santiago"></input></td>
								</tr>	
								<tr height="40px;">
									<td>Comuna:</td>
									<td><input type="text" class="form-control"
										th:field="*{comunaModel}" th:value="${comunaModel}" placeholder="ej: Las Condes"></input></td>
								</tr>
								<tr height="40px;">
									<td>Region:</td>
									<td><select class="form-control"
										th:field="*{regionesModel.idRegionModel}" required="">
										<option th:value="0"  >Seleccione una Region</option>
											<option class="form-control" th:each="region : ${regiones}"
												th:value="${region.idRegion}"
												th:text="${region.region}"></option>
									</select></td>
								</tr> 
								<tr height="40px;">
									<td>Nacionalidad: </td>
									<td>
										<select class="form-control" th:field="*{nacionalidadModel.idNacionalidadModel}">
										<option th:value="0"  >Seleccione una Nacionalidad</option>
		                					<option class="form-control" th:each="nacionalidad : ${nacionalidades}" 
		                					th:value="${nacionalidad.idNacionalidadModel}"  th:text="${nacionalidad.nacionalidadModel}"></option>
		            					</select>
	            					</td>
								</tr>
								<tr height="40px;">
									<td>Tipo accionista: </td>
									<td>
										<select class="form-control" th:field="*{tipoAccionistaModel.idTipoAccionistaModel}">
										<option th:value="0"  >Seleccione Tipo Accionista</option>
		                					<option class="form-control" th:each="tipoAccionista : ${tipoAccionistas}" 
		                					th:value="${tipoAccionista.idTipoAccionistaModel}" th:text="${tipoAccionista.descripcion_tipo_accionistaModel}"></option>
		            					</select>
	            					</td>
								</tr>
								<tr height="40px;">
									<td>accionista a heredar: </td>
									<td>
										<select class="form-control" th:field="*{accionistaModel.idAccionistaModel}">
										<option th:value="0"  >Selecciones un Accionista a Heredar</option>
		                					<option class="form-control" th:each="accionista : ${accionistas}" 
		                					th:value="${accionista.idAccionistaModel}"  
		                					th:text="${accionista.nombreModel}  + ' '+${accionista.apellido_paternoModel} + ' '+${accionista.apellido_maternoModel}"></option>
		            					</select>
	            					</td>
								</tr>						
								<tr height="40px;">
									<td class="form-buttons" colspan="2" align="right"><a href="#"
										th:href="@{/heredero/cancel}">
											<button class="btn btn-default" type="button"
												style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												Cancelar
											</button>
									</a>
										<button class="btn btn-primary color" type="button"
											style="width:27%;" onclick="alertaAgregarHeredero();">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											Aceptar
										</button></td>
										<br/>
								</tr>
							</tbody>
						</table>
					</form>
					</div>
				</div>                   
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>