<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
          				<center align="center">
					<h1 class="page-tittle">Fomulario para agregar mandatarios</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%;">
					<div class="panel-heading color"></div>
					<div class="table-content">
					<form align-text="center" action="#" 
						th:action="@{/mandatarios/addmandatario}" 
						th:object="${mandatarioModel}" method="post">
						<input type="hidden" th:field="*{id}"></input>
						<table>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr height="40px;">
									<td>Rut mandatario:</td>
									<td><input type="text" class="form-control"
										th:field="*{rut_mandatario}" th:value="${rut_mandatario}"></input></td>
								</tr>
								<tr height="40px;">
									<td>Razon social:</td>
									<td><input type="text" class="form-control"
										th:field="*{razon_social}" th:value="${razon_social}"></input></td>
								</tr>
								
									<tr height="40px;">
									<td>Fecha nacimiento:</td>
									<td><input type="text" class="form-control"
										th:field="*{fecha_nacimiento}" th:value="${fecha_nacimiento}"></input></td>
								</tr>	
									<tr height="40px;">
									<td>Fecha ingreso:</td>
									<td><input type="text" class="form-control"
										th:field="*{fecha_ingreso}" th:value="${fecha_ingreso}"></input></td>
								</tr>	
								<tr height="40px;">
									<td>Fecha salida:</td>
									<td><input type="text" class="form-control"
										th:field="*{fecha_salida}" th:value="${fecha_salida}"></input></td>
								</tr>
									<tr height="40px;">
									<td>Cantidad acciones:</td>
									<td><input type="text" class="form-control"
										th:field="*{cantidad_acciones}" th:value="${cantidad_acciones}"></input></td>
								</tr>
									<tr height="40px;">
									<td>Porcentaje participacion:</td>
									<td><input type="text" class="form-control"
										th:field="*{porcentaje_participacion}" th:value="${porcentaje_participacion}"></input></td>
								</tr>																
									<tr height="40px;">
									<td>Rut accionista:</td>
									<td><input type="text" class="form-control"
										th:field="*{accionistarut}" th:value="${accionistarut}"></input></td>
								</tr>	
								<tr class="form-buttons" height="40px;">
									<td colspan="2" align="right"><a href="#"
										th:href="@{/mandatarios/cancel}">
											<button class="btn btn-default" type="button"
												style="width:27%;">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												Cancelar
											</button>
									</a>
										<button class="btn btn-primary color" type="submit"
											style="width:27%;">
											<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											Aceptar
										</button></td>
										<br/>
								</tr>
							</tbody>
						</table>
					</form>
					</div>
				</div>              
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>