<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>
<script th:src="@{/js/jquery-confirm.js}"></script>

<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script type="text/javascript"  src="/js/reportes_ajax.js" th:src="@{/js/reportes_ajax.js}"></script>
<script type="text/javascript"  src="/js/apoderado_delete_ajax.js" th:src="@{/js/apoderado_delete_ajax.js}"></script>

<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:replace="/MasterControler/master-menu :: menu"></div>
		<div id="page-content-wrapper">

			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<center align="center">
							<h1 class="page-tittle">Apoderados</h1>
						</center>
						<br />
						<div class="design-1 container color2" align="center"
							style="width: 90%">
							<div class="panel-heading color">
							<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/Pdf.png}" id="pdf" onclick="ReportePFDApoderado();" />

							</div>
							<div class="table-content">
								<table id="tablaapoderado" class="display compact">
									<thead>
										<tr>
											<th>Rut</th>
											<th>Nombre</th>
											<th>Mail</th>
											<th>Telefono</th>
											<th>Estado</th>
											<th>Editar</th>
											<th>Eliminar</th>
											<th>Activar</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="apoderados : ${apoderados}">
											<td th:text="${apoderados.rutModel}"></td>
											<td
												th:text="${apoderados.nombreModel}+' '+${apoderados.apellido_paternoModel}+' '+${apoderados.apellido_maternoModel}"></td>
											<td th:text="${apoderados.emailModel}"></td>
											<td th:text="${apoderados.fonoModel}"></td>
											<td th:switch="${apoderados.estadoModel}"><span
												th:id="'estado' + ${apoderados.rutModel}" th:case="'0'">Eliminado</span>
												<span th:id="'estado' + ${apoderados.rutModel}"
												th:case="'1'">Activo</span></td>
											<td><a th:if="${apoderados.estadoModel == 0}"><a href="#"
													th:href="@{/apoderados/addapoderadoform?id=__${apoderados.idApoderadoModel}__}">
														<button th:id="'edit'+${apoderados.rutModel}" type="button" class="btn btn-warning " disabled="disabled">
															<span class="glyphicon glyphicon-pencil"
																aria-hidden="true"></span>
														</button></a>
												</a>
												<a th:if="${apoderados.estadoModel == 1}"><a href="#"
													th:href="@{/apoderados/addapoderadoform?id=__${apoderados.idApoderadoModel}__}">
														<button th:id="'edit'+${apoderados.rutModel}" type="button" class="btn btn-warning " enabled="enabled">
															<span class="glyphicon glyphicon-pencil"
																aria-hidden="true"></span>
														</button></a>
												</a>
											</td>
											<th><a th:if="${apoderados.estadoModel == 0}">
													<button th:id="'desactivar'+${apoderados.rutModel}"
														type="button" class="btn btn-danger eliminar"
														disabled="disabled">
														<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
													</button>
											</a> <a th:if="${apoderados.estadoModel == 1}">
													<button th:id="'desactivar'+${apoderados.rutModel}"
														type="button" class="btn btn-danger eliminar"
														enabled="enabled">
														<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
													</button>
											</a></th>
											<th><a th:if="${apoderados.estadoModel == 1}">
													<button th:id="'activar'+${apoderados.rutModel}"
														type="button" class="btn btn-success activar"
														disabled="disabled">
														<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
											</a> <a th:if="${apoderados.estadoModel == 0}">
													<button th:id="'activar'+${apoderados.rutModel}"
														type="button" class="btn btn-success activar"
														enabled="enabled">
														<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
											</a></th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="btn-design-1" align="center" style="width: 77%">
							<a href="#" th:href="@{/apoderados/addapoderadoform?id=0}">
								<button class="btn btn-lg btn-primary btn-block color"
									type="submit">
									Agregar Apoderados <span class="glyphicon glyphicon-user"
										aria-hidden="true"></span>
								</button>
							</a>
						</div>


					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
</body>
</html>