<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:replace="/MasterControler/master-menu :: menu"></div>
		<div id="page-content-wrapper">

			<div class="container">
				<div class="row">
					<div class="prinsipal-content col-sm-12">
						<center align="center">
							<h1 class="page-tittle">Calcular Dividendos</h1>
						</center>
						<div class="design-1 container color2" align="center" style="width:85%">
							<div class="panel-heading color"></div>
							<div class="table-content">
							<tr th:each="acciones : ${acciones}">
								<form align-text="center" action="#" th:action="@{/dividendos/calcularDividendo}" method="post">
								
								
									<div class="table-content ">
										<label>Valor Accion Tipo A: </label> <label id="label1"	th:text="${acciones.valorA}"></label> 
										<br></br>
										<label>Valor Accion Tipo B: </label> <label id="label2" th:text="${acciones.valorB}"></label>
										<br></br>
										<br></br>		
										<div>
											<input type="radio" id="accion" name="accion" value="A"	checked="checked" />
											<label>Accion Tipo A</label> 
											<br></br>
											<input type="radio" id="accion" name="accion" value="B" /> 
											<label>Accion Tipo B</label>
										</div>
										<br></br>
										<label th:if="${total != null}">Total valor acciones: </label>
										<label th:text="${total}"></label> 
										<br></br>
										<br></br>
										<input class="form-control" type="number" name="cantidadAccion" id="cantidadAccion" placeholder="Cuantas acciones desea calcular?" style="width: 300px" /> 
										<br></br>
										<input class="btn btn-primary color" type="submit" name="calcular" value="Calcular"/>
									</div>
								</form>
							</tr>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
</body>
</html>