<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>

<script th:src="@{/js/jquery-confirm.js}"></script>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script type="text/javascript"  src="/js/reportes_ajax.js" th:src="@{/js/reportes_ajax.js}"></script>
<script type="text/javascript"  src="/js/herederos_delete_ajax.js" th:src="@{/js/herederos_delete_ajax.js}"></script>

<body>
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-md-12">
						<center align="center">
							<h1 class="page-tittle">Herederos</h1>
						</center>
						<br />
						<div class="design-1 container color2" align="center"
							style="width: 90%">
							<div class="panel-heading color">
							<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/Pdf.png}" id="pdf" onclick="ReportePFDHerederos();" />

							</div>
							<div class="table-content">
								<table id="tablaheredero" class="display compact">
									<thead>
										<tr>
											<th>Rut</th>
											<th>Nombre</th>
											<th>Mail</th>
											<th>Fono</th>
											<th>Rut Accionista a Heredar</th>
											<th>Nombre Accionista a Heredar</th>
											<th>Acciones A</th>
											<th>Acciones B</th>
											<th>% de Participacion</th>
											<th>Estado</th>
											<th>Editar</th>
											<th>Eliminar</th>
											<th>Activar</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="herederos : ${herederos}">
											<td th:text="${herederos.rutModel}"></td>
											<td th:text="${herederos.nombreModel} +' '+${herederos.apellido_paternoModel}+' '+${herederos.apellido_maternoModel}"></td>
											<td th:text="${herederos.emailModel}"></td>
											<td th:text="${herederos.fonoModel}"></td>
											<td th:text="${herederos.accionistaModel.rutModel}"></td>
											<td th:text="${herederos.accionistaModel.nombreModel}"></td>
											<td th:text="${herederos.cantidad_acciones_serie_aModel}"></td>
											<td th:text="${herederos.cantidad_acciones_serie_bModel}"></td>
											<td th:text="${herederos.porcentaje_participacionModel}"></td>
											<td th:switch="${herederos.estadoModel}">
												<span th:id="'estado' + ${herederos.rutModel}"  th:case="'0'">Eliminado</span>
												<span th:id="'estado' + ${herederos.rutModel}"  th:case="'1'">Activo</span>
											</td>
											<td><a th:if="${herederos.estadoModel == 0}"><a href="#"
													th:href="@{/heredero/addherederosform?rut=__${herederos.rutModel}__}">
														<button th:id="'edit'+${herederos.rutModel}" type="button" class="btn btn-warning" disabled="disabled">
															<span class="glyphicon glyphicon-pencil"
																aria-hidden="true"></span>
														</button></a>
												</a>
												<a th:if="${herederos.estadoModel == 1}"><a href="#"
													th:href="@{/heredero/addherederosform?rut=__${herederos.rutModel}__}">
														<button th:id="'edit'+${herederos.rutModel}" type="button" class="btn btn-warning" enabled="enabled">
															<span class="glyphicon glyphicon-pencil"
																aria-hidden="true"></span>
														</button></a>
												</a>
											</td>
											<th>
												<a th:if="${herederos.estadoModel == 0}">
													<button th:id="'desactivar'+${herederos.rutModel}" type="button" class="btn btn-danger eliminar" disabled="disabled">
														<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
													</button>
												</a>
												<a th:if="${herederos.estadoModel == 1}">
													<button th:id="'desactivar'+${herederos.rutModel}" type="button" class="btn btn-danger eliminar" enabled="enabled">
														<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
													</button>
												</a>
											</th>
											<td><a th:if="${herederos.estadoModel == 1}">
													<button th:id="'activar'+${herederos.rutModel}" type="button" class="btn btn-success activar" disabled="disabled">
														<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
												</a>
												<a th:if="${herederos.estadoModel == 0}">
													<button th:id="'activar'+${herederos.rutModel}" type="button" class="btn btn-success activar" enabled="enabled">
														<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>							
							
						</div>
						<div class="btn-design-1" align="center" style="width: 77%">
							<a href="#" th:href="@{/heredero/addherederosform?rut=agregarHeredero}">
								<button class="btn btn-lg btn-primary btn-block color"
									type="submit">
									Agregar Valores a herederos <span
										class="glyphicon glyphicon-user" aria-hidden="true"></span>
								</button>
							</a>
						</div>
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>