<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body>
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
          		              <center style="margin-right:13%"><h1 class="page-tittle">Historial de traspasos</h1></center>
				<br/>
				<div class="design-1 container color2" align="center"
					style="width: 90% !important">
					<div class="panel-heading color"></div>
					<div class="table-content">
						<table id="tablatestigos" class="display compact">
							<thead>
								<tr>
									<th>Numero Traspaso de Acciones</th>
									<th>Rut Accionista Comprador</th>
									<th>Rut Accionista Venderor</th>
									<th>Fecha Efectuada</th>
									<th>Total Acciones tipo A</th>
									<th>Total Acciones tipo B</th>
									<th>Valor total por Acciones</th>
									<th>Sucesion</th>
									<th>Testigo</th>
									<th>Observacion</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="traspasoAcciones : ${traspasosacciones}">
									<td th:id="'numerotraspaso' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.idTraspasoAccionesModel}"></td>
									<td th:id="'rutVendedor' +  ${traspasoAcciones.idTraspasoAccionesModel}" th:value="${traspasoAcciones.rut_accionista_vendedorModel.rutModel}" th:text="${traspasoAcciones.rut_accionista_vendedorModel.nombreModel} + ${traspasoAcciones.rut_accionista_vendedorModel.apellido_paternoModel} + ${traspasoAcciones.rut_accionista_vendedorModel.apellido_maternoModel}"></td>
									<td th:id="'rutComprador' +  ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.rut_accionista_compradorModel.rutModel}"></td>
									
									<td th:id="'fechaVenta' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.fecha_ventaModel}"></td>
									<td th:id="'accionesA' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.cantidad_acciones_vendidas_aModel}"></td>
									<td th:id="'accionesB' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.cantidad_acciones_vendidas_bModel}"></td>
									<td th:id="'montoTotal' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.montoModel}"></td>
									<td th:id="'sucesion' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.es_sucesionModel}"></td>
									<td th:id="'testigo' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.testigoModel.nombreModel}"></td>
									<td th:id="'observacion' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.observacionModel}"></td>
								</tr>
							</tbody>
						</table>
					</div>					
					
				</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>
		
		
	