<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Sistema Accionistas DSIC</title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/stylePrincipal.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/login.css}" rel="stylesheet" />
<style type="text/css">
body {
	background-image: url("/imgs/login_background.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100%;
}
</style>
</head>

<body class="color">
	<!-- <div class="login-card">	
	     <h1><img class="dsic" src="#" th:src="@{/imgs/Logo_dsic.png}"/></h1> 
	    <br />
	    <hr id="hrstyle"/>
	    <br />    
	    <form th:action="@{/logincheck}" method="POST">
	      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
	      <input type="text" placeholder="Username" name="username" id="username"/>
	      <input type="password" placeholder="Password" name="password" id="password"/>
	      <div th:if="${error != null}" class="alert alert-danger" role="alert"><center>Usuario o password incorrectos</center></div>
	      <div th:if="${logout != null}" class="alert alert-info" role="alert"><center>Desconectado</center></div>
	      <input type="submit" name="login" class="login login-submit" value="Iniciar Session"/>
	    </form>
	    
 	</div>
 	
 	-->
	<div class="container" id="box">
		<div class="row">
			<div class="col-md-12">
				<p class="form-title">Sistema de accionistas</p>
				<form class="login" th:action="@{/logincheck}" method="POST">
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" /> <input type="text"
						placeholder="Username" name="username" id="username" /> <input
						type="password" placeholder="Password" name="password"
						id="password" />
					<div th:if="${error != null}" class="alert alert-danger"
						role="alert">
						<center>Usuario o password incorrectos</center>
					</div>
					<div th:if="${logout != null}" class="alert alert-info"
						role="alert">
						<center>No se ha podido completar el inicio de sesión</center>
					</div>
					<input type="submit" value="Ingresar" name="login"
						class="btn btn-success btn-sm" />
					<div class="remember-forgot">
						<div class="row">
							<div class="col-md-12 forgot-pass-content"
								style="text-align: center">
								<a href="javascription:void(0)" class="forgot-pass">Olvidé
									mi contraseña</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>