<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>
<script th:src="@{/js/jquery-confirm.js}"></script>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script type="text/javascript"  src="/js/reportes_ajax.js" th:src="@{/js/reportes_ajax.js}"></script>
<script type="text/javascript"  src="/js/juntaAccionista_delete_ajax.js" th:src="@{/js/juntaAccionista_delete_ajax.js}"></script>

<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:replace="/MasterControler/master-menu :: menu"></div>
		<div id="page-content-wrapper">

			<div class="container">
				<div class="row">
					<div class="principal-content col-sm-12">
						<center align-text="center">
							<h1 class="page-tittle">Juntas de accionistas</h1>
						</center>
						<br />
						<div class="design-1 container color2" align="center">
							<div class="panel-heading color">
							<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/Pdf.png}" id="pdf" onclick="ReportePFDJunta();" />

							</div>
							<div class="table-content">
								<table id="tablajuntaaccionistas" class="display compact">
									<thead>
										<tr>
											<th>Numero de Junta</th>
											<th>Ubicacion</th>
											<th>Fecha</th>
											<th>Hora de inicio:</th>
											<th>Hora de termino:</th>
											<th>Direccion</th>
											<th>Fecha de difusion</th>
											<th>% Asistencia</th>
											<th style="text-align: center">Lista de Asistentes a la Junta</th>		
											<th>Estado</th>
											<th>Editar</th>
											<th>Desactivar</th>
											<th>Activar</th>									
										</tr>
									</thead>
									<tbody>
										<tr th:each="juntaaccionista : ${juntasAccionistasAdmin}">
											<td th:text="${juntaaccionista.idJuntaAccionistaModel}"></td>
											<td th:text="${juntaaccionista.ubicacionModel}"></td>
											<td th:text="${juntaaccionista.fecha_realizacionModel}"></td>
											<td th:text="${juntaaccionista.hora_inicioModel}"></td>
											<td th:text="${juntaaccionista.hora_terminoModel}"></td>
											<td th:text="${juntaaccionista.direccionModel}"></td>
											<td th:text="${juntaaccionista.fecha_difusionModel}"></td>
											<td th:id="'asistenciaActual' + ${juntaaccionista.idJuntaAccionistaModel}" th:text="${juntaaccionista.asistenciaTotalModel}"></td>
											<td>
												<button th:id="'asistencia' + ${juntaaccionista.idJuntaAccionistaModel}" style="width: 100px;"  type="button" class="btn btn-info getasistencia"
													data-toggle="modal" data-target="#asistenciaJunta">
													<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
												</button>
											</td>
											<td th:switch="${juntaaccionista.estadoModel}">
												<span th:id="'estado' + ${juntaaccionista.idJuntaAccionistaModel}" th:case="'0'">Eliminado</span>
												<span th:id="'estado' + ${juntaaccionista.idJuntaAccionistaModel}"  th:case="'1'">Activo</span>
											</td>
											<td><a th:if="${juntaaccionista.estadoModel == 0}"><a href="#" th:href="@{/juntaaccionista/addjuntaaccionistasform?id=__${juntaaccionista.idJuntaAccionistaModel}__}">
														<button th:id="'edit'+ ${juntaaccionista.idJuntaAccionistaModel}" type="button" class="btn btn-warning " disabled="disabled">
															<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
														</button>
													</a>
												</a>
												<a th:if="${juntaaccionista.estadoModel == 1}"><a href="#" th:href="@{/juntaaccionista/addjuntaaccionistasform?id=__${juntaaccionista.idJuntaAccionistaModel}__}">
														<button th:id="'edit'+ ${juntaaccionista.idJuntaAccionistaModel}" type="button" class="btn btn-warning " enabled="enabled">
															<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
														</button>
													</a>  
												</a>
											</td>
											<td><a th:if="${juntaaccionista.estadoModel == 0}">
													<button th:id="'desactivar'+ ${juntaaccionista.idJuntaAccionistaModel}" type="button" class="btn btn-danger eliminar" disabled="disabled">
														<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
													</button>
												</a>
												<a th:if="${juntaaccionista.estadoModel == 1}">
													<button th:id="'desactivar'+ ${juntaaccionista.idJuntaAccionistaModel}" type="button" class="btn btn-danger eliminar" enabled="enabled">
														<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
													</button>
												</a>
											</td>
											<td><a th:if="${juntaaccionista.estadoModel == 1}">
													<button th:id="'activar'+ ${juntaaccionista.idJuntaAccionistaModel}" type="button" class="btn btn-success activar" disabled="disabled">
														<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
												</a>
												<a th:if="${juntaaccionista.estadoModel == 0}">
													<button th:id="'activar'+ ${juntaaccionista.idJuntaAccionistaModel}" type="button" class="btn btn-success activar" enabled="enabled">
														<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
													</button>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="btn-design-1" align="center">
							<td><a href="#"
								th:href="@{/juntaaccionista/addjuntaaccionistasform?id=0}">
								<button class="btn btn-primary btn-block color"
									type="submit">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
									Agregar Junta
								</button>
							</a></td>
							<br/>
							<td><a href="#"
								th:href="@{/acta/verActa?id=0}">
								<button class="btn btn-primary btn-block color"
									type="submit">
									<span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
									Generar Acta
								</button>
							</a></td>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>

	<!-- Modal POPUP-->
	<div class="modal fade" id="asistenciaJunta" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog"  style="width: 70%;">
			<div class="modal-content">
				<div class="modal-header" style="padding: 0px;">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" style="color: #fff">
						<span aria-hidden="true">&times;</span>
					</button>
					<div class="design-1 container color2" align="center"
						style="width: 100% !important; margin: 0px">
						<div class="panel-heading color">
							<h5 class="modal-title" id="exampleModalLabel" style="color: #fff;">Asistencia de Juntas Accionista</h5>
						</div>
						<div class="table-content">
							<table id="tablajuntaaccionistas" class="display compact" style="width: 100%;">
								<thead>
									<tr>
										<th>Rut Accionista</th>
										<th>Accionista</th>
										<th>Rut Apoderado</th>
										<th>Apoderado</th>
										<th>Estado</th>
										<th>Presente/Ausente</th>
									</tr>
								</thead>
								<tbody id="cuerpoAsistencias">
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>