<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
                        <center align-text="center"><h1 class="page-tittle" >Accionistas</h1></center>
				<br />
				<div class="design-1 container color2" align="center" style="width:85%;">
				<div class="panel-heading color"></div>
				<div class="table-content">
					<table id="tablaaccionistas" class="display compact">
						<thead>
							<tr>
								<th>Rut</th>
								<th>Nombre</th>
								<th>Acciones serie A</th>
								<th>Acciones serie B</th>
								<th>% de Participacion</th>
								<th>Direccion</th>
								<th>Ciudad</th>
								<th>Comuna</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="accionista : ${accionistas}">
								<td th:text="${accionista.rutModel}"></td>
								<td	th:text="${accionista.nombreModel} + ' '+${accionista.apellido_paternoModel} + ' '+${accionista.apellido_maternoModel}"></td>
								<td th:text="${accionista.cantidad_acciones_serie_aModel}"></td>
								<td th:text="${accionista.cantidad_acciones_serie_bModel}"></td>
								<td th:text="${accionista.porcentaje_participacionModel}"></td>
								<td th:text="${accionista.direccionModel}"></td>
								<td th:text="${accionista.ciudadModel}"></td>
								<td th:text="${accionista.comunaModel}"></td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

</body>
</html>