<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
						<center align="center">
					<h1 class="page-tittle">Mandatarios</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%">
					<div class="panel-heading color"></div>
					<div class="table-content">
						<table id="tablamandatario" class="display compact">
							<thead>
								<tr>
									<th>Rut</th>
									<th>Razon social</th>
									<th>Fecha nacimiento</th>
									<th>Fecha ingreso</th>
									<th>Feche salida</th>
									<th>Cantidad de acciones</th>
									<th>porcentaje participacion</th>
									<th>Rut accionista</th>
									<td>Editar o Eliminar</td>
								</tr>
							</thead>

							<tbody>
								<tr th:each="mandatarios : ${mandatarios}">
									<td th:text="${mandatarios.rut_mandatario}"></td>
									<td th:text="${mandatarios.razon_social}"></td>
									<td th:text="${mandatarios.fecha_nacimiento}"></td>
									<td th:text="${mandatarios.fecha_ingreso}"></td>
									<td th:text="${mandatarios.fecha_salida}"></td>
									<td th:text="${mandatarios.cantidad_acciones}"></td>
									<td th:text="${mandatarios.porcentaje_participacion}"></td>
									<td th:text="${mandatarios.accionistarut}"></td>
									
									<td>
										<a href="#"	th:href="@{/mandatarios/addmandatarioform?id=__${mandatarios.id}__}">
											<button type="button" class="btn btn-default ">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</button>
										</a> 
										<a href="#" th:href="@{/mandatarios/removemandatario?id=__${mandatarios.id}__}">
											<button type="button" class="btn btn-danger ">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</button>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>									
				</div>
				<div class="btn-design-1" align="center" style="width:77%">
					<a href="#"
						th:href="@{/mandatarios/addmandatarioform?id=0}">
						<button class="btn btn-lg btn-primary btn-block color"
							type="submit">
							Agregar Mandatario
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>							
						</button>
					</a>
				</div>
						                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>