<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-md-12">
                        <center align="center">
					<img src="#" th:src="@{/imgs/logo_h.png}" />
				</center>
				<br />
				<div class="design-1 container color2" align="center">
					<div class="panel-heading color"></div>
					<div class="table-content">
					<table class="table">
						<thead>
						</thead>
						<tbody>
							<tr>
								<td>Rut:</td>
								<td th:text="${empresaModel.rutModel}"></td>
							</tr>
							<tr>
								<td>Razon social</td>
								<td th:text="${empresaModel.razonSocialModel}"></td>
							</tr>
							<tr>
								<td>Web</td>
								<td th:text="${empresaModel.webModel}"></td>
							</tr>
							<tr>
								<td>Cantidad Acciones Serie A</td>
								<td th:text="${empresaModel.cantidadAccionesSerieAModel}"></td>
							</tr>
							<tr>
								<td>Cantidad Acciones Serie B</td>
								<td th:text="${empresaModel.cantidadAccionesSerieBModel}"></td>
							</tr>
							<tr>
								<td>Cantidad Accionistas</td>
								<td th:text="${empresaModel.cantidadAccionistasModel}"></td>
							</tr>
							<tr>
								<td>Mail</td>
								<td th:text="${empresaModel.emailModel}"></td>
							</tr>
							<tr>
								<td>Direccion</td>
								<td th:text="${empresaModel.direccionModel}"></td>
							</tr>
							<tr>
								<td>Telefono</td>
								<td th:text="${empresaModel.telefonoModel}"></td>
							</tr>
							<tr>
								<td>Representante legal</td>
								<td th:text="${empresaModel.representanteModel.rutModel}"></td>
							</tr>
							<tr>
								<td>Giro Comercial</td>
								<td th:text="${empresaModel.giroComercialModel.descripcionModel}"></td>
							</tr> 
							<tr>
								<td>Valor accion tipo A</td>
								<td th:text="${accionModel.valorAModel}"></td>
							</tr>
							<tr>
								<td>Valor accion tipo B</td>
								<td th:text="${accionModel.valorBModel}"></td>
							</tr> 
						</tbody>
					</table>
					</div>
				</div>
				<div class="btn-design-1" >
					<a href="#" th:href="@{/empresas/addempresaform?id=__${empresaModel.idEmpresaModel}__}">
						<button class="btn btn-lg btn-primary btn-block color"
							type="button">
							<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
							Actualizar datos
						</button>
					</a>
				</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
	
</body>
</html>