<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>

<script th:src="@{/js/jquery-confirm.js}"></script>
<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script type="text/javascript"  src="/js/representantes_delete_ajax.js" th:src="@{/js/representantes_delete_ajax.js}"></script>

<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="prinsipal-content col-sm-12">
						<center align="center">
					<h1 class="page-tittle">Representantes</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%">
					<div class="panel-heading color"></div>
					<div class="table-content">
						<table id="tablarepresentante" class="display compact">
							<thead>
								<tr>
									<th>Rut</th>
									<th>Nombre completo</th>
									<th>Direccion</th>
									<th>Mail</th>
									<th>Telefono</th>
									<th>Empresa</th>
									<th>Estado</th>
									<td>Editar</td>
									<td>Eliminar</td>
									<td>Activar</td>
								</tr>
							</thead>

							<tbody>
								<tr th:each="representantes : ${representantes}">
									<td th:text="${representantes.rutModel}"></td>
									<td th:text="${representantes.nombreModel}+' '+${representantes.apellido_paternoModel}+' '+${representantes.apellido_maternoModel}"></td>
									<td th:text="${representantes.direccionModel}"></td>
									<td th:text="${representantes.emailModel}"></td>
									<td th:text="${representantes.telefonoModel}"></td>
									<td width="200px;">
										<select class="form-control">										
											<option class="form-control" th:each="empresa : ${empresas}"												
												th:value="${empresa.idEmpresaModel}" th:text="${empresa.representanteModel.rutModel == representantes.rutModel}? ${empresa.razonSocialModel} : ${'none'}"></option>
												
										</select>
										
									</td>
									
									<td th:switch="${representantes.estadoModel}">
										<span th:id="'estado' + ${representantes.rutModel}"  th:case="'0'">Eliminado</span>
										<span th:id="'estado' + ${representantes.rutModel}"  th:case="'1'">Activo</span>
									</td>
									
									<td>
										<a th:if="${representantes.estadoModel == 0}"><a href="#"	th:href="@{/representantes/addrepresentanteform?rut=__${representantes.rutModel}__}">
											<button th:id="'edit'+ ${representantes.rutModel}" type="button" class="btn btn-warning " disabled="disabled">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</button></a>
										</a>
										<a th:if="${representantes.estadoModel == 1}"><a href="#"	th:href="@{/representantes/addrepresentanteform?rut=__${representantes.rutModel}__}">
											<button th:id="'edit'+ ${representantes.rutModel}" type="button" class="btn btn-warning " enabled="enabled">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</button></a>
										</a> </td>
									<th>
										<a th:if="${representantes.estadoModel == 0}">
											<button th:id="'desactivar'+ ${representantes.rutModel}" type="button" class="btn btn-danger eliminar" disabled="disabled">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</button>
										</a>
										<a th:if="${representantes.estadoModel == 1}">
											<button th:id="'desactivar'+ ${representantes.rutModel}" type="button" class="btn btn-danger eliminar" enabled="enabled">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</button>
										</a>
									</th>
									<td><a th:if="${representantes.estadoModel == 1}">
											<button th:id="'activar'+ ${representantes.rutModel}" type="button" class="btn btn-success activar" disabled="disabled">
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</button>
										</a>
										<a th:if="${representantes.estadoModel == 0}">
											<button th:id="'activar'+ ${representantes.rutModel}" type="button" class="btn btn-success activar" enabled="enabled">
												<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
											</button>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>									
				</div>
				<div class="btn-design-1" align="center" style="width:77%">
					<a href="#"
						th:href="@{/representantes/addrepresentanteform?rut=agregarrepresentante}">
						<button class="btn btn-lg btn-primary btn-block color"
							type="submit">
							Agregar Representante
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>							
						</button>
					</a>
				</div>
						                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>