<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body >
		<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
          				<center align="center">
					<h1 class="page-tittle">Testigo</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 90%">
					<div class="panel-heading color"></div>
					<div class="table-content">
						<table id="tablatestigos" class="display compact">
							<thead>
								<tr>
									<th>Rut</th>
									<th>Nombre</th>
									<th>Mail</th>
									<th>Fono</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="testigos : ${testigos}">
									<td th:text="${testigos.rutModel}"></td>
									<td th:text="${testigos.nombreModel}+' '+${testigos.apellido_paternoModel}+' '+${testigos.apellido_maternoModel}"></td>
									<td th:text="${testigos.emailModel}"></td>
									<td th:text="${testigos.fonoModel}"></td>
								</tr>
							</tbody>
						</table>
					</div>					
					
				</div>
				              
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>