<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>

<link rel="stylesheet" href="iziToast.min.css" th:href="@{/css/iziToast.min.css}" ></link>
<link rel="stylesheet" th:href="@{/css/jquery-confirm.css}"></link>

<script src="/js/iziToast.min.js" type="text/javascript" th:src="@{/js/iziToast.min.js}"></script>
<script th:src="@{/js/jquery-confirm.js}"></script>

<script type="text/javascript"  src="/js/reportes_ajax.js" th:src="@{/js/reportes_ajax.js}"></script>


<body>
	<div id="wrapper" >      
        <!-- Sidebar -->
        <div th:replace="/MasterControler/master-menu :: menu"></div>
        <div id="page-content-wrapper">
        	
            <div class="container">
                <div class="row">
                    <div class="principal-content col-sm-12">
          				<center align="center">
					<h1 class="page-tittle">Traspaso Acciones</h1>
				</center>
				<br />
				<div class="design-1 container color2" align="center"
					style="width: 100% !important">
					<div class="panel-heading color">
					<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/Pdf.png}" id="pdf" onclick="ReportePFDTraspaso();" />
					<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/excel.png}" onclick="ReporteExcelTraspaso();"/>
					</div>
					<div class="table-content">
						<table id="tablatestigos" class="display compact">
							<thead>
								<tr>
									<th>Registro Traspaso</th>
									<th>Rut Accionista Comprador</th>
									<th>Rut Accionista Venderor</th>
									<th>Fecha Efectuada</th>
									<th>Total Acciones tipo A</th>
									<th>Total Acciones tipo B</th>
									<th>Valor total por Acciones</th>
									<th>Sucesion</th>
									<th>Testigo</th>
									<th>Observacion</th>
									<th>Editar</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="traspasoAcciones : ${traspasoAcciones}">
									<td th:id="'numerotraspaso' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.idTraspasoAccionesModel}"></td>
									<td th:id="'rutVendedor' +  ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.rut_accionista_vendedorModel.rutModel}"></td>
									<td th:id="'rutComprador' +  ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.rut_accionista_compradorModel.rutModel}"></td>
									
									<td th:id="'fechaVenta' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.fecha_ventaModel}"></td>
									<td th:id="'accionesA' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.cantidad_acciones_vendidas_aModel}"></td>
									<td th:id="'accionesB' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.cantidad_acciones_vendidas_bModel}"></td>
									<td th:id="'montoTotal' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.montoModel}"></td>
									<td th:id="'sucesion' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.es_sucesionModel}"></td>
									<td th:id="'testigo' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.testigoModel.nombreModel}"></td>
									<td th:id="'observacion' + ${traspasoAcciones.idTraspasoAccionesModel}" th:text="${traspasoAcciones.observacionModel}"></td>
									
									<td><a href="#"
										th:href="@{/traspasoAcciones/addTraspasoform/?id=__${traspasoAcciones.idTraspasoAccionesModel}__}">
											<button type="button" class="btn btn-warning ">
												<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
											</button>
									</a> </td>
								</tr>
							</tbody>
						</table>
					</div>					
					
				</div>
				<div class="btn-design-1" align="center" style="width:77%">
					<a href="#"
						th:href="@{/accionistas/traspasoacciones}">
						<button class="btn btn-lg btn-primary btn-block color"
							type="submit">
							Hacer una Transaccion
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>							
						</button>
					</a>
				</div>
				              
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</body>
</html>