<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/MasterControler/head-control :: head">
</head>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div th:replace="/MasterControler/master-menu :: menu"></div>
		<div id="page-content-wrapper">

			<div class="container">
				<div class="row">
					<div class="prinsipal-content col-sm-12">
						<center align="center">
							<h1 class="page-tittle">Ver Dividendos</h1>
						</center>
						<br />
						<div class="design-1 container color2" align="center" >
						<div class="panel-heading color">
						<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/Pdf.png}" id="pdf" onclick="ReportePFDJunta();" />
						<input type="image" width="50px" height="50px" style="float: left" th:src="@{/imgs/excel.png}"/>
						</div>
						<div class="table-content">
							<table id="tablarepresentante" class="display compact">
								<thead>
									<tr>
										<th>ID Junta Accionista</th>
										<th>Rut Accionista</th>
										<th>Fecha Declaracion</th>
										<th>Fecha Registro</th>
										<th>Dividendo por Accion A</th>
										<th>Dividendo por Accion B</th>
										<th>Dividendo Total por Acciones</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="dividendo, iteration : ${listaDivendo}">
										<td th:text="${dividendo.juntaAccionistaModel.idJuntaAccionistaModel}"></td>
										<td th:text="${dividendo.accionistaModel.rutModel}"></td>
										<td	th:text="${dividendo.fechaDeclaracionModel}"></td>
										<td th:text="${dividendo.fechaRegistroModel}"></td>
										<td th:text="${dividendo.dividendoAccionAModel}"></td>
										<td th:text="${dividendo.dividendoAccionBModel}"></td>
										<td th:text="${dividendo.dividendoTotalModel}"></td>
									</tr>

								</tbody>
							</table>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
</body>
</html>