<head th:fragment="head">
	<meta charset="UTF-8" />	
	<title>Sistema Accionistas DSIC</title>
	<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}" />
	<link rel="stylesheet" href="#" th:href="@{/css/flat-ui.min.css}" media="screen" type="text/css" />
	<link rel="stylesheet" href="#" th:href="@{/css/font-awesome-4.7.0/css/font-awesome.min.css}" media="screen" type="text/css" />	
	<link id="estilos" rel="stylesheet" href="#" th:href="@{/css/normal_style.css}" media="screen" type="text/css" />
	<link rel="stylesheet" href="#" th:href="@{/css/styleFinal.css}" media="screen" type="text/css" />
	
	<script src="#" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="#" th:src="@{/js/jquery.dataTables.min.js}"></script>	
	<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="#" th:src="@{/js/funciones.js}"></script>
	<script src="/js/menucontroller.js" th:src="@{/js/menucontroller.js}"></script>
	
</head>

