@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
  background:white;
  font-family: 'Roboto';
  margin-top: 60mm;
}

.login-card {
  padding: 60px;
  width: 450px;
  background-color: #EFF5FB;
  margin: 0 auto 10px;
  border-radius: 10px;
}

.login-card h1 {
    font-weight: bold;
    text-align: center;
    margin-top: -5mm;
    margin-bottom: 0;
}

.login-card input[type=submit] {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}


.login-card a {
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
  margin-top: -10mm;
}
.candado{
    margin-left: -1mm;
    margin-bottom: -1mm;


}/*Listas de Usuarios*/
/*-------------------------------------------------------------*/

  
 .row.content {height: 1500px}
    
  
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
  
    footer {
      background-color: #555;
      color: white;
      padding: 20px;
    }
    
  
    .col-sm-9 {
        width: 100%;
        margin-top: -40mm;
    }
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
      
      body
{
    background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#box{
	margin-top:11%;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}
@-webkit-keyframes autofill {
    to {
        color: #CCC5C5;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
 
    
   