 .color {
    background-color:#222 !important;
    }

   .color2{ 
   background-color:#D8D8D8 !important;
   }
   .color3{
   backgrund-color:#E6E6E6 !important;
   }
#formulario_empresa_update{
	margin: auto !important;
	width: auto !important;	
}
.principal-content{
	margin-bottom: 100px;
}
.design-1{
	width:100% !important;
	padding: 0 !important;
}
.btn-design-1{
	width:60% !important;
	margin:15px auto !important;
}
.table-content{
	margin: 2% !important;
}
.page-tittle{
	color: #000000 !important;
	font-size: 35px !important;
}
.form-buttons{
	line-height: 55px;
}
table{
	zoom:0.8;
}


	
